
.need-color{
    background-color: #F4FAFD;
}
.model-color {
    width: 1320px;
    height: 300px;
}
@media only screen and (max-width: 765px) {
    .media {
      display: none;
    }
  }
  @media only screen and (max-width: 990px) {
    .media1 {
      display: none;
    }
  }